@page "/developer/create"
@inject Controllers.DeveloperService DeveloperService
@inject NavigationManager NavigationManager

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Create developer</h1>

        <EditForm Model="@Obj" OnValidSubmit="@CreateEmployee">
            
            <GovUkValidationSummary />
            
            <div class="govuk-form-group govuk-form-group--error">
                <label for="FirstName" class="govuk-label">First name</label>
                <div class="govuk-error-message">
                    <ValidationMessage For="@(() => Obj.FirstName)"/>
                </div>
                <input id="FirstName" class="govuk-input" @bind="@Obj.FirstName"/>
            </div>
            <div class="govuk-form-group">
                    <label for="LastName" class="govuk-label">Last name</label>
                    <div class="govuk-error-message">
                         <ValidationMessage For="@(() => Obj.LastName)" />
                    </div>
                <input id="LastName" class="govuk-input" @bind="@Obj.LastName" />
            
                </div>

                <div class="govuk-form-group">
                    <label for="CountryId" class="govuk-label">Country</label>
                    <div class="govuk-error-message">
                    <ValidationMessage For="@(() => Obj.CountryId)" />
                    </div>
                <select id="CountryId" @onchange="ShowHideOtherCountry" class="govuk-select">
                        <option value="0">Select country</option>
                        <option value="1">United Kingdom</option>
                        <option value="2">Ireland</option>
                        <option value="3">United States</option>
                        <option value="4">Other country</option>
                    </select>
                </div>

                @if (showHide)
                {
                   <div class="govuk-form-group">
                        <label for="OtherCountry" class="govuk-label">Other country</label>
                    <input id="OtherCountry" class="govuk-input" @bind="@Obj.OtherCountry" />
                    </div>
                }

            <div class="govuk-form-group">
                    <label for="PreferredLanguage" class="govuk-label">Preferred language</label>
                <input id="PreferredLanguage" class="govuk-input" @bind="@Obj.PreferredLanguage" />
                </div>
            <div class="govuk-form-group">
                    <label for="Experience" class="govuk-label">Experience</label>
                <input id="Experience" class="govuk-input" @bind="@Obj.Experience" />
                </div>

            <div class="govuk-form-group">
                    <button type="submit" class="govuk-button" value="Save">Save</button>
                    <input type="button" class="govuk-button govuk-button--secondary" @onclick="@Cancel" value="Cancel" />
                </div>
        </EditForm>
    </div>
</div>

@code
{
        private Developer Obj = new ();

        private bool showHide { get; set; } = false;

        private async void CreateEmployee()
        {
            await DeveloperService.InsertDeveloperAsync(Obj);

            NavigationManager.NavigateTo("/");
        }
    
        void Cancel()
        {
            NavigationManager.NavigateTo("/");
        }

        private void ShowHideOtherCountry(ChangeEventArgs e)
        {
            if (e.Value != null && e.Value.ToString() == "4")
            {
                showHide = true;
            }
            else
            {
                showHide = false;
            }

            Obj.CountryId = Int32.Parse(e.Value.ToString());
        }
}