@page "/developer/delete/{Id}"
@inject Controllers.DeveloperService DeveloperService
@inject NavigationManager NavigationManager

<form>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

            <h1 class="govuk-heading-l">Delete developer</h1>

            <p class="govuk-body">Are you sure want to delete this developer?</p>
            <div class="govuk-form-group">
                <label class="govuk-label" for="FirstName">First name</label>
                <label class="govuk-label" id="FirstName">@Obj.FirstName</label>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label">Last name</label>
                <label class="govuk-label">@Obj.LastName</label>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label">Preferred language</label>
                <label class="govuk-label">@Obj.PreferredLanguage</label>
            </div>
            <div class="govuk-form-group">
                <label class="govuk-label">Experience</label>
                <label class="govuk-label">@Obj.Experience.ToString("0")</label>
            </div>

            <div class="govuk-form-group">
                <input type="button" class="govuk-button govuk-button--warning" @onclick="@DeleteDev" value="Delete"/>
                <input type="button" class="govuk-button govuk-button--secondary" @onclick="@Cancel" value="Cancel"/>
            </div>

        </div>
    </div>
</form>

@code {
    [Parameter]
    public string Id { get; set; }
    Developer Obj = new Developer();
    protected override async Task OnInitializedAsync()
    {
        Obj = await Task.Run(() => DeveloperService.GetDeveloperAsync(Convert.ToInt32(Id)));
    }
    protected async void DeleteDev()
    {
        await DeveloperService.DeleteDeveloperAsync(Obj);
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}