@page "/developer/edit/{Id}"
@using edd_blazor_server_poc.Data
@inject Controllers.DeveloperService developerService
@inject NavigationManager NavigationManager

<form>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Edit developer</h1>
         
                <div class="govuk-form-group">
                    <label for="FirstName" class="govuk-label">First name</label>
                    <input form="Name" class="govuk-input" @bind="@obj.FirstName" />
                </div>
                <div class="govuk-form-group">
                    <label for="LastName" class="govuk-label">Last name</label>
                    <input form="Designation" class="govuk-input" @bind="@obj.LastName" />
                </div>
                <div class="govuk-form-group">
                    <label for="PreferredLanguage" class="govuk-label">Preferred language</label>
                    <input form="City" class="govuk-input" @bind="@obj.PreferredLanguage" />
                </div>
                <div class="govuk-form-group">
                    <label for="Experience" class="govuk-label">Experience</label>
                    <input form="City" class="govuk-input" @bind="@obj.Experience" />
                </div>
           
            <div class="govuk-form-group">
                <input type="button" class="govuk-button" @onclick="@UpdateDev" value="Update" />
                <input type="button" class="govuk-button govuk-button--secondary" @onclick="@Cancel" value="Cancel" />
            </div>
    </div>
    </div>
    </form>

@code {
    [Parameter]
    public string Id { get; set; }
    Developer obj = new Developer();
    protected override async Task OnInitializedAsync()
    {
        obj = await Task.Run(() => developerService.GetDeveloperAsync(Convert.ToInt32(Id)));
    }
    protected async void UpdateDev()
    {
        await developerService.UpdateDeveloperAsync(obj);
        NavigationManager.NavigateTo("/");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("/");
    }
}